<h2>Filter</h2>
<%= params %>
<%= @offers.size %>
<div class="large-6 columns">
  <%= form_tag "/listing", method: :get do %>
      <%= select_tag("city", options_for_select(City.pluck(:name))) %>
      <%= text_field_tag(:max_room_size) %>
      <%= text_field_tag(:min_room_size) %>
      <%= text_field_tag(:max_cost) %>
      <%= text_field_tag(:min_cost) %>
      <%= submit_tag "search" %>
  <% end %>
</div>
</br>
<div class="row" data-equalizer>
  <% @offers.each do |offer| %>
      <div class="large-4 columns">
        <ul class="pricing-table">
          <li class="title">Standard</li>
          <li class="price">$99.99</li>
          <li class="description">An awesome description</li>
          <li class="bullet-item">1 Database</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">20 Users</li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>
      </div>
  <%end%>
</div>
