<div class="row">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">My Site</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">Right Button Active</a></li>
        <li class="has-dropdown">
          <a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
            <li class="active"><a href="#">Active link in dropdown</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul>
    </section>
  </nav>
  <div class="row">
    <div class="large-6 columns">
      <%= form_tag "/listing", method: :get do %>
          <%= text_field_tag(:city) %>
          <%= text_field_tag(:max_room_size) %>
          <%= text_field_tag(:min_room_size) %>
          <%= text_field_tag(:max_cost) %>
          <%= text_field_tag(:min_cost) %>
          <%= submit_tag "search" %>
      <% end %>
    </div>
    <div class="large-6 columns">
      <ul class="example-orbit-content" data-orbit
          data-options="animation:slide;
                  pause_on_hover:true;
                  animation_speed:300;
                  navigation_arrows:true;
                  bullets:true;">
        <li data-orbit-slide="headline-1">
          <div>
            <h2>Headline 1</h2>

            <h3>Subheadline</h3>
          </div>
        </li>
        <li data-orbit-slide="headline-2">
          <div>
            <h2>Headline 2</h2>

            <h3>Subheadline</h3>
          </div>
        </li>
        <li data-orbit-slide="headline-3">
          <div>
            <h2>Headline 3</h2>

            <h3>Subheadline</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="large-6 columns">
      <ul class="pricing-table" data-equalizer-watch>
        ...
        <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
      </ul>
    </div>
    <div class="large-6 columns">
      <ul class="pricing-table" data-equalizer-watch>
        ...
        <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
      </ul>
    </div>
  </div>
  <div class="row" data-equalizer>
    <div class="large-6 columns">
      <ul class="pricing-table" data-equalizer-watch>
        ...
        <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
      </ul>
    </div>
    <div class="large-6 columns">
      <ul class="pricing-table" data-equalizer-watch>
        ...
        <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
      </ul>
    </div>
  </div>
  <!-- Footer -->
  <footer class="row">
    <div class="large-12 colums">
      <div class="icon-bar five-up">
        <a class="item">
          <%= image_tag("svgs/fi-home.svg") %>
          <label>Home</label>
        </a>
        <a class="item">
          <%= image_tag("svgs/fi-bookmark.svg") %>
          <label>Bookmark</label>
        </a>
        <a class="item">
          <%= image_tag("svgs/fi-info.svg") %>
          <label>Info</label>
        </a>
        <a class="item">
          <%= image_tag("svgs/fi-mail.svg") %>
          <label>Mail</label>
        </a>
        <a class="item">
          <%= image_tag("svgs/fi-like.svg") %>
          <label>Like</label>
        </a>
      </div>
    </div>
  </footer>
</div>

<!-- End Footer -->




