<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= @user.offers.count  %>

<div class="row" data-equalizer>
  <% @user.offers.each do |offer| %>
      <div class="small-3 columns">
        <ul class="pricing-table">
          <li class="title">Standard</li>
          <% if offer.time_until_expire.name == "expired" %>
            <li class="bullet-item">The offer has  expired for <%= offer.time_until_expire.days %> days</li>
          <% elsif offer.time_until_expire.name == "today" %>
              <li class="bullet-item">The offer is valid just today</li>
          <% else %>
              <li class="bullet-item">The offer is valid for <%= offer.time_until_expire.days %> days</li>
        <%end%>
          <li class="price">$99.99</li>
          <li class="description">An awesome description</li>
          <li class="bullet-item">1 Database</li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>
      </div>
  <%end%>
</div>