<p id="notice"><%= notice %></p>

<h1>Listing Rent Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_types.each do |rent_type| %>
      <tr>
        <td><%= rent_type.name %></td>
        <td><%= link_to 'Show', rent_type %></td>
        <td><%= link_to 'Edit', edit_rent_type_path(rent_type) %></td>
        <td><%= link_to 'Destroy', rent_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent type', new_rent_type_path %>
